<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Use bootstrap css file -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>
	<div class = "container">
	
	<div class="lead center-block" style="width:400px">
            
    </div>

      <div class="container">
   		<!-- Comment Toxicity Checker form-->
        <form class="form-signin" id="mainform" role="form" action="/loadstuff", method = "POST">
        <h3 class="form-signin-heading center-block">Comment Toxicity Checker</h3>
        <input name="sentence" class="form-control" placeholder="Type your sentence here" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Check</button>
        </form>
     </div>
   	
   	</div>

   	<div class="container center-block" style="width:800px">
   		<!-- Output from Comment Toxicity -->
   		{% if outp != "" %}
   		Sentence: <b>{{result['sentence']}}</b><br/>
   		<table class = "table table-hover">
   			<tr>
   				<th>Toxicity Type</th>
   				<th>Toxicity Score</th>
   				
   			</tr>
   			<tr>
   				<td>Toxicity</td>
   				<td>{{outp[0]}}</td>
   			</tr>
   			<tr>
   				<td>Severe Toxicity</td>
   				<td>{{outp[1]}}</td>
   			</tr>
   			<tr>
   				<td>Obscene</td>
   				<td>{{outp[2]}}</td>
   			</tr>
   			<tr>
   				<td>Threat</td>
   				<td>{{outp[3]}}</td>
   			</tr>
   			<tr>
   				<td>Insult</td>
   				<td>{{outp[4]}}</td>
   			</tr>
   			<tr>
   				<td>Identity-Hate</td>
   				<td>{{outp[5]}}</td>
   			</tr>
   		</table>
   		{% endif %}
    </div>

    <div class = "container">

    <div class="lead center-block" style="width:400px">
         
    </div>
         <div class = "container center-block">
         	<!-- Comment Reddit Toxicity Checker form-->
	        <form class="form-signin" id="mainform" role="form" action="/loadstuff", method = "POST">
	        	<h3 class="form-signin-heading center-block">Reddit: Subreddit Toxicity</h3>
	        <input name="subreddit" class="form-control" placeholder="Subreddit Name" required autofocus>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Check</button>
	        </form>
	    </div>	
    
     <div class="container center-block" style="width:800px">
     	<!-- Output from Reddit Toxicity -->
     	
     	{% if outp2 != "" %}
   		Atleast {{outp2['Toxic']}} of comments in r/{{result['subreddit']}} are toxic<br/>
   		Severly Toxic Comments: {{outp2['Severely Toxic']}}<br/>
   		Obscene Comments: {{outp2['Obscene']}}<br/>
   		Insult Comments: {{outp2['Insult']}}<br/>
   		Identity-Hate Comments: {{outp2['Identity-Hate']}}<br/>
   		<br/>
   		<b>Examples of Toxic comments:</b><br/>
		{% for comm in outp2['Eg'] %}
		* {{comm}}<br/>
		{% endfor %}
   		{% endif %}
    </div>
	</div>
</body>

</html>
